*{
    font-family: 'Ysabeau', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NTkzNzEzLWltYWdlLWt3dnhvZXB2LmpwZw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
h1 {
    text-align: center;
    font-size: 50px;
}
div.parent-div *{
    text-align: center;
    border: 2px solid black;
}
.parent-div{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.start-timer-banner{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.start-button-div{
    position: relative;
}
.start-button{
    margin: 40px 0 0 0;
    font-size: 35px;
    border-radius: 25px;
}

.timer-div{
    text-align: center;
    position: relative;
}
p {
    font-size: 35px;
}
h2 {
    text-align: center;
    font-size: 35px;
}