*{
    font-family: 'Ysabeau', sans-serif;
}
body {
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NTkzNzEzLWltYWdlLWt3dnhvZXB2LmpwZw.jpg');
    background-size: cover;
    height: 790px;
    width: 790px;
  }
h1{
    text-align: center;
}
div.parent-div *{
    text-align: center;
    border: 2px solid black;
}
.parent-div{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.start-timer-banner{
    display: flex;
    position: relative;
    top: 150px;
}
.start-button-div{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 140px;
}

.timer-banner{
    display: flex;
    flex-wrap: wrap; 
    position: absolute;
    right: 155px;
}
